.card-1:hover{
    
    background-color: aqua;
}
.card-2:hover{
    
    background-color:coral;
}
.card-3:hover{
    
    background-color:hotpink;
}
.card-4:hover{
    
    background-color:darkorchid;
}
.card-5:hover{
    
    background-color:darkgoldenrod;
}
.card-6:hover{
    
    background-color:crimson;
}
